

    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__data">
                <h1 class="home__title">VIRTUAL<br><span>QUEUE</span></h1>
                <p class="offer__description">Say Goodbye to wasting time in long bank queues, simply use VQ to join queues on your phone 
                    and show up at the bank when it your turn to be served.
                </p>
                <a href="/users/joinq" class="button">Join Queue </a>
            </div>
            <img src="/images/undraw_Queue_j6ij.svg" alt="" class="home__img">
             
        </div>
     <div class="box">
		<span></span>
		<span></span>
		<span></span>
	  </div>
    </section>
    

    
    <section class="featured section" id="featured">
       <h2 class="section-title">How It Works</h2>
       <br>

       <div class="new__container bd-grid">
           <div class="featured__product">
               <div class="featured__box">
                   <div class="featured__new">1</div>
                   <img src="/images/bg.svg" alt="" class="featured__img">
               </div>
               <div class="featured__data">
                   <h3 class="offer__description">Go on the virtual Queue website and register as a user..</h3>
                  
               </div>
           </div>
           <div class="featured__product">
               <div class="featured__box">
                   <div class="featured__new">2</div>
                   <img src="/images/undraw_my_location_f9pr.svg" alt="" class="featured__img">
               </div>
               <div class="featured__data">
                   <h3 class="offer__description">Login and choose the Bank and Branch you wish to visit as well as the service you want</h3>
                   
               </div>
           </div>
           <div class="featured__product">
               <div class="featured__box">
                   <div class="featured__new">3</div>
                   <img src="/images/undraw_online_message_xq4c.svg" alt="" class="featured__img">
               </div>
               <div class="featured__data">
                   <h3 class="offer__description">You will be instantly added to the virtual queue and receive an sms with your id, position in the queue and estimated time till you will be served</h3>
                
               </div>
           </div>
           <div class="featured__product">
               <div class="featured__box">
                   <div class="featured__new">4</div>
                   <img src="/images/undraw_real-time_sync_o57k.svg" alt="" class="featured__img">
               </div>
               <div class="featured__data">
                   <h3 class="offer__description">You can check the status of the the queue in real time</h3>
                   
               </div>
           </div>
            <div class="featured__product">
               <div class="featured__box">
                   <div class="featured__new">5</div>
                   <img src="/images/undraw_new_message_2gfk.svg" alt="" class="featured__img">
               </div>
               <div class="featured__data">
                   <h3 class="offer__description">When you are now due to be served you will receive a text message informing you to make your way to the bank</h3>
                   
               </div>
           </div>
            <div class="featured__product">
               <div class="featured__box">
                   <div class="featured__new">6</div>
                   <img src="/images/undraw_feeling_happy_jymo.svg" alt="" class="featured__img">
               </div>
               <div class="featured__data">
                   <h3 class="offer__description">Thats It! </h3>
                   
               </div>
           </div>
       </div>
    </section>
    <section class="offer section">
        <div class="offer__bg">
            <div class="offer__data">
                <a href="/users/register" class="button">REGISTER</a>
            </div>
        </div>
    </section>
 
   

  <!-- <a href="/users/login">Login</a> -->
