
	<div class="container">
	
		<div class="img">
			<img src="/images/undraw_server_cluster_jwwq.svg">
		</div>
		<div class="login-content">
			<form action="/users/joinq" method="POST">
				<img src="/images/avatar.svg">
				<h2 class="title">Join Queue</h2>           

 
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-university"></i>
           		   </div>
           		   <div class="div">
           		   		<div class="custom-select">
							<select name="bank" id="bank" required>
								<option value="" disabled selected>Choose your Bank</option>
								<option value="Bank A">Standard Charted Bank</option>
								<option value="Bank B">CBZ</option>
								<option value="Bank C">POSB</option>
								<option value="Bank D">Nedbank</option>
								<option value="Bank E">CABS</option>
							</select>
						</div>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-map-marker-alt"></i>
           		   </div>
           		   <div class="div">
           		    	<div class="custom-select">
							<select name="branch" id="branch" required>
								<option value="" disabled selected>Choose your Branch</option>
								<option value="Branch A">Harare</option>
								<option value="Branch B">Gweru</option>
								<option value="Branch C">Bulawayo</option>
								<option value="Branch D">Masvingo</option>
								<option value="Branch E">Mutare</option>
							</select>
						</div>
            	   </div>
            	</div>
                <div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-hand-holding-usd"></i>
           		   </div>
           		   <div class="div">
           		    	<div class="custom-select">
							<select name="service" id="service" required>
								<option value="" disabled selected>Choose your Service</option>
								<option value="Service A">Withdraw</option>
								<option value="Service B">Deposit</option>
								<option value="Service C">Query</option>
								<option value="Service D">Card Services</option>
								<option value="Service E">Other</option>
							</select>
						</div>
            	   </div>
            	</div>
            	<input  type="submit"  class="btn" value="Join">
            	
            </form>
        </div>
	</div>
	<div id="myDIV" class="loading-overlay">
		<div id="loading-bar-spinner" class="spinner"><div class="spinner-icon"></div></div>
	  </div>
    
  