<div class="container">
<div class="form-wrap">
  <h1>Register</h1>
  {{#each errors}}
        <div class="error">
             <p>{{message}}</p>
        </div>
      {{/each}}
  <form action="/users/register" method="POST">
    <div class="input-group">
          <label >Name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder="Name"
            maxlength="100"  />
        </div>
    <div class="input-group">
          <label >Email</label>
          <input type="email" name="email" id="email" class="input-box" placeholder="Email"
            maxlength="100"  />
        </div> 
    <div class="input-group">
          <label >Password</label>
          <input type="password" name="password" id="password" class="input-box" placeholder="Password"
            maxlength="100" />
        </div> 
    <div class="input-group">
          <label >Password</label>
          <input type="password" name="password2" id="password2" class="input-box" placeholder="Confirm Password"
            maxlength="100" />
        </div>  
      <input type="submit" value="Register" class="btn btn-reverse " />
    <a href="/users/login">Already registered? Login here</a>              
  </form>
</div>
</div>